# Frontend
NUXT_PUBLIC_API_BASE=http://127.0.0.1:8000
NUXT_PUBLIC_SITE_URL=http://127.0.0.1:3000
NUXT_PUBLIC_CONTACT_MAIL=mail@example.com
NUXT_PUBLIC_CONTACT_PHONE="1234567890"
NUXT_PUBLIC_PRIVACY_CONTACT_PERSON="John Doe"
NUXT_PUBLIC_ADDRESS_NAME="Example Company"
NUXT_PUBLIC_ADDRESS_STREET="Example Street"
NUXT_PUBLIC_ADDRESS_HOUSE_NUMBER=1
NUXT_PUBLIC_ADDRESS_POSTAL_CODE=12345
NUXT_PUBLIC_ADDRESS_CITY=Example City

# Backend
BACKEND_HOST=127.0.0.1
BACKEND_PORT=8000
BACKEND_CORS_ORIGINS=http://127.0.0.1:3000,http://localhost:3000
CACHE_TTL_MINUTES=360
REQUEST_TIMEOUT_SECONDS=30
